@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "emeraldgreen";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #10b981;
  --color-primary-focus: #059669;
  --color-primary-content: #ffffff;

  --color-secondary: #6ee7b7;
  --color-secondary-focus: #34d399;
  --color-secondary-content: #0f172a;

  --color-accent: #0ea5e9;
  --color-accent-focus: #0284c7;
  --color-accent-content: #ffffff;

  --color-neutral: #18181b;
  --color-neutral-focus: #27272a;
  --color-neutral-content: #fafafa;

  --color-base-100: #f9fafb;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #111827;

  --color-info: #3b82f6;
  --color-info-content: #f0f9ff;

  --color-success: #059669;
  --color-success-content: #ecfdf5;

  --color-warning: #f59e0b;
  --color-warning-content: #fffbeb;

  --color-error: #ef4444;
  --color-error-content: #fef2f2;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}